.SpockImg {
    background-image: url('~/src/assets/icons/icon-spock.svg');
}

.PaperImg {
    background-image: url('~/src/assets/icons/icon-paper.svg');
}

.LizardImg {
    background-image: url('~/src/assets/icons/icon-lizard.svg');
}

.ScissorsImg {
    background-image: url('~/src/assets/icons/icon-scissors.svg');
}

.RockImg {
    background-image: url('~/src/assets/icons/icon-rock.svg');
}