.outLineYellow {
    outline: 8px solid yellow;
    border-radius: 2.5rem;
}

.outLineLightBlue {
    outline: 8px solid lightseagreen;
    border-radius: 2.5rem;
}

.outLineBlue {
    outline: 8px solid rgb(51, 51, 215);
    border-radius: 2.5rem;
}

.outLineRed {
    outline: 8px solid rgb(163, 45, 45);
    border-radius: 2.5rem;
}

.outLinePurple {
    outline: 8px solid purple;
    border-radius: 2.5rem;
}