.winner-picked-component {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 130px;
}

.you-picked {
    color: white;
    font-size: 1.2rem;
}

.picked-img {
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border-radius: 50%;
    background-size: 50px;
    border: none;
}