.App {
    .home-page {
        width: 100%;
        height: 60%;
        @include flexCenter();
        align-self: center;
        justify-self: center;
        align-items: flex-end
    }
}

@import './GameWrapper/gameWrapper';